body {
	background-position: right, top;
    background: Thistle;
    text-align: center;
    word-spacing: 2px; 
    letter-spacing: 3px;	
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    color: white;
}
table {         
    background-color: #bd9ac2f8;
    color: black;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
td {
    border: 5px solid rgb(255, 255, 255);
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
body {
	background-image: url(../images/fon1.jpg), url(../images/fon2.jpg);
	background-size: 100% 100%;	
	font-family: "font";
	text-shadow: 1px 1px 1px rgb(238, 238, 238), 1px 1px 6px rgb(180, 103, 216);
	text-overflow: ellipsis;
	}
   .paragraph1 {
	color: hsla(290, 50%, 25%, 0.87);
	border: 30px solid transparent;
	border-image: url(../images/../images/ramka.png) 110 100 round round;
   }
   .paragraph2 {
	color: rgba(62, 20, 78, 0.897);
	border: 30px solid transparent;
	border-radius: 15%;
	box-shadow: 0 0 10px rgb(180, 150, 194);
   }
