table {         
    background-color: #bd9ac2f8;
    color: black;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
td {
    border: 5px solid rgb(255, 255, 255);
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}